/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  background-image: url(aaaa.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  background-attachment: fixed;
}
.mytitle {
  font-size: 30px;
 
}

body {
  font-family: Arial, sans-serif;
  justify-content: center; /* Changed to 'center' for vertical alignment */
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh; /* Ensure body takes at least full viewport height */
  margin: 0; /* Remove default margin */
}

h1 {
  padding: 0;
  display: block;
  margin: 0;
}
.content{
 
}

.container {
  width: 90%; /* Adjusted for mobile screens */
  max-width: 400px; /* Added maximum width */
  padding: 17px 40px; /* Adjusted for better spacing */
  background-color: #548dd9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto 100px; /* Adjusted margins */
  display: flex;
  flex-direction:column;
  height:35vh;
}

h1 {
  margin-bottom: 15px; /* Adjusted for mobile screens */
  margin-top: 20px; /* Adjusted for mobile screens */
  text-align: center; /* Center the heading */
}

/* Chat styles */
#chat-container {
  margin-top: 20px;
}

.chat-bubble-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.chat-bubble {
  max-width: 80%; /* Adjusted for mobile screens */
  padding: 10px 15px;
  border-radius: 10px;
}

.user {
  background-color: #3f72af;
  color: #ffffff;
}

.assistant {
  background-color: #ffffff;
}

/* User input form */
form {
  display: flex;
  margin-top: 20px;
  width: 100%; /* Ensure form takes full width */
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 100px;
}

button#submit-button {
  background-color: #3f72af;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 100px;  
}

button#submit-button:hover {
  background-color: darkgoldenrod;
}

/* Mobile responsive styles */
@media (max-width: 600px) {
  .container {
    margin: 450px auto; /* Adjusted margins for mobile screens */
  }

  h1 {
    font-size: 22px; /* Adjusted font size for mobile screens */
    margin-top: 15px;
    margin-bottom: 10px; /* Adjusted margins for mobile screens */
  }

  .chat-bubble {
    max-width: 100%; /* Adjusted for mobile screens */
    padding: 8px 12px; /* Adjusted padding for mobile screens */
  }

  input[type="text"] {
    padding: 8px;
    font-size: 14px;
  }

  button#submit-button {
    padding: 8px 15px;
    font-size: 14px;
  }
}
